h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 2rem auto;
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    color: #ff0000;
    font-weight: bold;
    margin-top: 16px;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 600px;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: black;
    text-align: left;
}

#show_review {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-style: italic;
    color: black;
    text-align: left;
}

#show_result {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #ff0000;
    text-align: left;
}

.text_title {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.25rem;
    color: black;
    text-align: center;
}

.text_content {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    color: black;
    text-align: center;
}

.text_main_content {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    color: black;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    text-align: center;
}

th, td {
    vertical-align: top;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
}

th {
    font-weight: bold;
    color: #333;
}

tr:hover {
    background-color: #f5f5f5;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#panel {
    display: none;
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
}

input[type="file"],
input[type="text"] {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background-color: #00a2ff;
}

input[type="submit"] {
    font-family: 'Times New Roman', serif;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem auto 0;
    padding: 1rem 2rem;
    background-color: #4caf50;
    color: black;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #09d410;
}
